*{
    padding: 0%;
    margin: 0%;
}

.header{
    width: 100%;
    box-shadow: 2px 4px 10px 0px gray;
    border: 1px solid black;
}

.title{
    text-align: center;
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}

.body{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    padding-top: 30px;
}

.options{
    height: 300px;
    width: 300px;
    box-shadow: 2px 4px 10px 0px blue;
    border-radius: 30px;
    margin-bottom: 20px;
    display: table-column;
    text-align: center;
}

.option-title{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.clickme{
    background-color: blue;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.home-button{
    background-color: red;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.clickme2{
    background-color: gray;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.list-options{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 4px 10px 0px blue;
    padding: 20px 30px;
    border-radius: 30px;
}
