* {
    padding: 0%;
    margin: 0%;
}

.header {
    width: 100%;
    box-shadow: 2px 4px 10px 0px gray;
    border: 1px solid black;
}

.title {
    text-align: center;
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}

.new-skill-button {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-title {
    width: 100%;
    text-align: center;
}


.new-skill {
    font-size: 32px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightseagreen;
    padding: 10px 30px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

\\ background-color: lightseagreen;

#name {
    margin-bottom: 0px;
}

.special-comment {
    font-size: 14px;
    font-style: italic;
    color: gray;
    margin-bottom: 20px;
}

#showcaseForm {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
}

#head-title {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#status {
    text-align: center;
}

.form-input {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: lightgray;
    margin-bottom: 20px;
}

.body {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    padding-top: 30px;
}

.options {
    height: 300px;
    width: 300px;
    box-shadow: 2px 4px 10px 0px blue;
    border-radius: 30px;
    margin-bottom: 20px;
    display: table-column;
    text-align: center;
}

.options2 {
    height: 300px;
    width: 300px;
    box-shadow: 2px 4px 10px 0px blue;
    border-radius: 30px;
    margin-bottom: 20px;
    display: table-column;
    text-align: center;
    align-items: center;
}

.options2 h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
    height: 120px;
    width: 120px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px auto;
}

.image img {
    height: 120px;
    width: 120px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px auto;
}

.options2 h4 {
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.option-title {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.home-button {
    background-color: red;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.clickme {
    background-color: blue;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.clickme2 {
    background-color: gray;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
}

.action {
    background-color: red;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.list-options2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 4px 10px 0px blue;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: aquamarine;
}

.list-options {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 4px 10px 0px blue;
    padding: 20px 30px;
    border-radius: 30px;
}

.option-container {
    width: 100%;
    display: table-column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 30px;
    justify-content: center;
}

.list-options3 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 4px 10px 0px blue;
    padding: 20px 30px;
    border-radius: 30px;
}

.dropdown-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 30px;
}

#bitan-chakraborty, #ayan-chabri, #Nabanita-Samanta, #Sankha-subhra-Chakraborty, #Shreya-Pal {
    display: none;
}

#chandrani-malakar {
    display: none;
}